*{ margin:0px; padding:0px; }
body, div, ul, li, ol, a, dl, dt, dd, p, img, form, input, select, optiontextarea, h1, h2, h3, h4, h5, h6, span, table, tr, td { margin:0; padding:0; }
body { color:#444; word-wrap:bread-word; word-break:bread-all; font: normal normal normal 14px/18px 'Microsoft Yahei', Arial,Helvetica,sans-serif; margin:0px; padding:0px; }
html, body { height:100%; overflow: hidden;font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-size:14px; font-weight:normal }
em,i{ font-style:normal}
table { border-collapse:collapse; border:none; }
a:link, a:visited { outline:none; text-decoration:none; color:#2282c3; }
a:hover, a:active { text-decoration:none; color:#000000; outline:none; }
ul { list-style:none; }
img { border:none; }

/*上传文件列表*/
.webuploader .webUploadFileList li{height: 30px;line-height: 30px;color: #666;}
.webuploader .webUploadFileList li em {text-align: right;}
.webuploader .webUploadFileList li a {color: #666;margin: 0 5px 0 5px;padding: 0px 10px 0px 4px;}
.webuploader .webUploadFileList li a:hover {color: #2282c3;text-decoration: underline;}
.webuploader .webUploadFileList li i {color: #1a7dd1;cursor: pointer;margin-left: 15px;}
.webuploader .webUploadFileList li i:hover {text-decoration: underline;}

/*按钮*/
.webuploader .webuploader-container {position: relative;display: inline-block;}
.webuploader .webuploader-element-invisible {position: absolute !important;clip: rect(1px 1px 1px 1px); /* IE6, IE7 */clip: rect(1px,1px,1px,1px);}
.webuploader .webuploader-pick {vertical-align: middle;margin-right:8px;position: relative;display: inline-block;cursor: pointer;color: #fff;text-align: center;border-radius: 3px;overflow: hidden;width: 90px;height: 26px;line-height: 26px;font-size: 12px;border: 1px solid #005596;box-shadow: inset 0px 1px 0px 0px #298edc;background-color: #298edc;background: linear-gradient(to bottom, #298edc 30%, #0a7acf 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#298edc', endColorstr='#0a7acf',GradientType=0);}
.webuploader .webUploadFileList i.webuploader-pick{color:#fff;}
.webuploader .webuploader-pick-hover {background:#298edc;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#298edc', endColorstr='#298edc',GradientType=0);}
.webuploader .webuploader-pick-disable {opacity: 0.6;pointer-events:none;}

/*进度条*/
.webUpload_progress_box{/* display: none; */position: absolute;width: 440px;height: 56px;padding-top: 20px;text-align: center;border: 3px solid #9d9d9d;border-radius: 5px;background: #fff;z-index: 99;color: #666;}
.webUpload_progress_box p{text-align: center;color: #666;line-height: 32px;margin-bottom: 10px;}
.webUpload_progress_box p .progress_bar{display: inline-block; width: 260px;height: 23px;border: 1px solid #87de73;vertical-align: middle;text-align: left;overflow: hidden;}
.webUpload_progress_box p .progress_bar em{display: block;width: 1%;height: 23px;border: 0;background: #04d205;}
.webUpload_progress_box p i.percent {display: inline-block;width: 50px;height: 23px;color: #fd8636;vertical-align: middle;margin-left: 5px;line-height: 23px;}